* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.nav-date {
  font-weight: 300;
}

nav {
  background-color: rgb(237, 70, 47);
}

.nav-image {
  height: 130px;
  width: 100%;
}

.sign-in p {
  font-size: 18px;
}

.btn {
  border-radius: 0;
  font-size: 18px;
}

.nowrap {
  white-space: nowrap;
}

.nav-links h6{
  font-size: 17px;
}


.nav-image-2 {
  height: 50px;
  width: 100%;
}

